<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbAcademyConnectionString" connectionString="Data Source=MARIA;Initial Catalog=dbAcademy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="dbAcademyConnectionString2" connectionString="Data Source=MARIA;Initial Catalog=dbAcademy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="dbAcademyConnectionString3" connectionString="Data Source=RICARDO-PC;Initial Catalog=dbAcademy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="dbAcademyConnectionString4" connectionString="Data Source=MARIA;Initial Catalog=dbAcademy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="dbAcademyConnectionString5" connectionString="Data Source=MARIA;Initial Catalog=dbAcademy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <globalization uiCulture="es" culture="es-PE" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.5295.12304" newVersion="5.11.5295.12304" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


<appSettings>
  
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
</appSettings>



</configuration>